table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 20%;
}

.wide {
  width: 90%;
}

.mat-column-name {
  width: 40%;
}

.mat-column-price {
  width: 5%;
}

.mat-column-address {
  width: 30%;
}

.aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
